BOT_TOKEN=
CLIENT_ID=
CLIENT_SECRET=
DATABASE_URL=
PUBLIC_BASE_URL=https://thepurge-production.up.railway.app
SESSION_SECRET=change-me-to-a-long-random-string
JELLYFIN_BASE_URL=https://goatskin-diffuser-fled.ngrok-free.dev
JELLYFIN_PUBLIC_BASE_URL=https://entertainment.ebmsol.com
JELLYFIN_ENABLE_PLAY_LINKS=false
JELLYFIN_API_KEY=
PORT=3000
NODE_ENV=production
